body {
  font-family: "PT snas", sans-serif;
  color: #010101;
}
/* Header start */
header {
  background-color: #fcdb00;
  padding: 20px 0;
}

.logo {
}
.logo img {
  width: 90%;
}
.menu {
}
.menu ul li a {
  font-size: 22px;
  font-weight: 700;
  color: #010101 !important;
  padding: 0 45px !important;
  transition: 0.3s;
}
.menu ul li a:hover {
  color: white !important;
}
.menu ul li:last-child a {
  padding-right: 0 !important;
}
/* Header end */

/* Slider Start */
.slider {
  background-color: #fcdb00;
  padding-bottom: 100px;
}
.cid {
  margin-bottom: -70px;
}
.cid li {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.s_text {
  margin-top: 70px;
}
.s_text h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}
.s_text h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #313841;
  word-spacing: 1px;
  letter-spacing: 2px;
}
.s_text p {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 400;
  color: #555555;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 22px;
}
.s_icon {
  font-size: 42px;
}
.s_icon li {
  margin-right: 30px !important;
}
.s_img {
}
/* Features start */
.features {
  padding-bottom: 120px;
}
.f_h1 {
  margin-top: 100px;
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}
.f_p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
  color: #313841;
  line-height: 25px;
  letter-spacing: 1px;
}
.f_p_70 {
  margin-top: 80px !important;
}
.si_icon {
  text-align: center;
}
.si_text {
  /* margin-top: 10px !important; */
}
.si_text h2 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  color: #010101;
}
.si_text p {
  font-size: 16px;
  font-weight: 400;
  color: #898989;
  line-height: 21px;
  letter-spacing: 1px;
  word-spacing: 5px;
}
.si_icon img {
  margin-left: 20px;
}
/* Features end */

/* Contact start */
.contact {
  background-color: #010101;
}
.f_yellow {
  color: #fcdb00;
}
.f_ash {
  color: #898989;
  margin-bottom: 40px;
}
.form_1 {
  height: 50px;
  width: 100%;
}
.button_1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #010101;
  border: none;
  height: 50px;
  width: 100%;
  background-color: #fcdb00;
  border: none;
  background-color: rgb(252, 219, 0);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: 0.6s;
  outline: none;
}
.button_1:hover {
  box-shadow: inset 300px 0 0 0 #ffffff;
  cursor: pointer;
  color: #010101;
}
.form_1:focus {
  border-color: #fcdb00;
  box-shadow: 0 0 0 1px rgba(252, 219, 0);
}
.social_icon {
  /* background-color: #fcdb00; */
  margin-bottom: 70px;
}
.social_icon ul li a i {
  background-color: #fcdb00;
  color: white;
}
/* Contact end */

/* footer start */
footer {
  background-color: #010101;
  padding-bottom: 100px;
}
.f_1,
.f_2 {
  color: #ffffff;
  line-height: 22px;
  margin-top: 70px;
}
.f_2 ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "PT snas", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}
/* footer end */
